[Unit]
Description=csengoplayer
After=multi-user.target
 
[Service]
type=simple
ExecStart=/usr/bin/python3 /usr/bin/play_sound.py
 
[install]
wantedby=multi-user.target