*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	min-height: 15em;
	max-height: 45em;
	overflow: auto;
	font-family: "Poppins", sans-serif;
	width: 23em;
	background-color: rgba(255, 255, 255, 0.13);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 1em;
	color: white;
	backdrop-filter: blur(0.3em);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	padding: 50px 35px;
}

.container h4 {
	text-align: center;
}
.container h3 {
	float: right;
	margin-right: 6em;
	margin-top: 1.6em;
}
.container img {
	margin-top: 0.5em;
}

.s-container {
	height: 20em;
	text-align: center;
	padding: 2.2em;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	width: 23em;
	background-color: rgba(255, 255, 255, 0.13);
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 1em;
	color: white;
	backdrop-filter: blur(0.3em);
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.shake div {
	animation: shake 0.4s linear infinite;
}
@keyframes shake {
	0% {
		margin-left: 0%;
		background-color: rgba(162, 28, 28, 0.384);
	}
	16% {
		margin-left: -2%;
	}
	32% {
		margin-left: 0%;
	}
	48% {
		margin-left: 1%;
	}
	64% {
		margin-left: 0%;
	}
	80% {
		margin-left: -0.8%;
	}
	100% {
		margin-left: 0%;
	}
}

.circle {
	width: 10em;
	height: 10em;
	position: absolute;
	bottom: 0;
	right: 0;
	border-radius: 100em 0 0 0;
}

.fadeIn {
	animation: fade 0.6s linear normal forwards;
	background-color: #7000fa;
}

@keyframes fade {
	0% {
		height: 150vh;
		width: 150vw;
	}
	100% {
		height: 10em;
		width: 10em;
		visibility: hidden;
	}
}

.soundbox {
	display: flex;
	align-items: center;
	margin: 1em;
	height: 5em fit-content;
	padding: .5em;
	background-color: rgba(255, 255, 255, 0.089);
	backdrop-filter: blur(0.3em);
	box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
	border-radius: 1em;
	/* TODO break name of sound if too long */
}
.soundbox .soundname p {
	font-size: small;
}
.soundname {
	width: 20%;
}
.vote img {
	right: 1em;
	background-color: red;
}
.soundbox img {
	filter: invert(1);
}
@media (max-width: 600px),
	screen and (orientation: portrait) and (max-width: 1200) {
	.form {
		margin: 0;
		width: 100%;
	}
}

.errorBlob {
	position: absolute;
	background-color: rgba(206, 60, 60, 0.476);

	animation: errorFade 1s linear normal forwards;
	font-size: 1.5em;
	top: 2em;
	color: white;
	border-radius: 1.5em;
	padding: 0.4em;

	font-family: "Poppins", sans-serif;
	left: 35dvw;
}

@keyframes errorFade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.week {
	text-align: center;
	padding: 0.2em;
}
.votestats {
	position: fixed;
	right: 1em;
}
.votestats p {
	text-align: center;
}
.disclaimer {
	margin: 1em;
	background-color: rgba(255, 0, 0, 0.507);
	border-radius: 0.5em;
	padding: 0.1em;
}
